.search {
  align-items: baseline;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-around;
  padding: 1.2rem .75rem;
}

#search__input {
  border-color: #f8f9fa;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  width: 50vw;
}

.search__button img {
  background-color: transparent;
  width: 50px;
}
