.shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shopping__card {
  text-align: center;
}

.card__quantity {
  font-size: 1.2rem;
  font-weight: 600;
}

.card__title {
  font-size: .8rem;
  margin: 15px 0;
}

.card__price {
  font-weight: 600;
}